@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
}

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  cursor: none; /* For Custom Cursor */
}

@media (max-width: 768px) {
  body {
    cursor: auto;
  }
}

.hero-line {
  display: inline-block;
}

/* Scrollbar hiding for cleaner look */
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
